* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primaryColor: #5038a6;
    --secondaryColor: #05ff0b;
    --tertiary: #45407b;
    --quaternary: #fafff8;
    --colorTextPrimary: #ffffff;
    --fontPrimary: "Montserrat", sans-serif;
    --fontSecondary:
          /*definir*/ ;
    --fontSizeBase: 16px;
    --lineHeightBase: 1.5;
  
    /*Definir el resto segun necesidades, valores debajo solo sonreferenciales*/
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
  }
  
  /*MENSAJE MOTIVACIONAL, eliminar luego*/
  
  h2 {
    font-family: var(--fontPrimary);
    font-weight: 900;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--secondaryColor);
    background: var(--primaryColor);
  }
  
  #paseos {
    background-color: var(--primaryColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
  }
  
  #paseos__title {
    margin-top: 80px;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
  }
  
  #paseos__title span {
    color: var(--secondaryColor);
  }
  
  #paseos__text {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  
  #paseos__text span {
    color: var(--secondaryColor);
  }
  
  #paseos__cards-container {
    width: 100%;
    height: fit-content;
    margin-top: 106px;
    margin-bottom: 106px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    
  }
  
  .paseos__card {
    aspect-ratio: 16 / 9;
    width: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
  }
  
  
  .paseos__card-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .paseos__card__top-icons {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 48px;
  }
  
  .paseos__card__top-icons div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .paseos__card__top-icons span {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.85);
  }
  
  .paseos__card-icon {
    height: 16px;
    filter: opacity(0.85);
  }
  
  .paseos__card-bottom-bar {
    background: #000;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .paseos__card-name {
    font-weight: 500;
    font-size: 18px;
  }
  
  .paseos__card-button {
    background: var(--secondaryColor);
    padding: 6px 12px;
    border-radius: 40px;
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 16px;
    text-decoration: none;
  }
  /*-------------------------------------- preguntas frecuentes*/
  
  .paseos {
    background-color: var(--primaryColor);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontPrimary);
    padding: 50px;
  }
  
  .paseos__title {
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
  }
  
  .paseos__title span {
    color: var(--secondaryColor);
  }
  
  .paseos__text {
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
  
  .paseo__text__1 {
    color: #fff;
    font-size: 18px;
    text-align: justify;
  }
  
  .paseos__text span {
    color: var(--secondaryColor);
  }
  
  .image_1 {
    aspect-ratio: 3 / 4;
    height: auto;
    object-fit: contain;
  }
  
  .cont_imgage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
  }
  
  .image_2,
  .image_3,
  .image_4 {
    aspect-ratio: 16 / 9;
    width: 80vw;
    object-fit: cover;
  
  }
  .image_2_Lagos,
  .image_3_Lagos,
  .image_4_Lagos {
    aspect-ratio: 2 / 3;
    width: 80vw;
    object-fit: cover;
  
  }
  
  
  /* fin preguntas frecuentes*/
  
  
  @media screen and (max-width: 768px) {
    #paseos__title {
      font-size: 32px;
    }
  
    #paseos__text {
      font-size: 14px;
      width: 80%;
    }
  
    #paseos__cards-container {
      margin: 48px 0;
      flex-direction: column;
    }
    .paseos__card {
      aspect-ratio: 4 / 3;
      max-width: 380px;
      width: 100%;
    }
  
    .paseos__card-button {
      font-size: 10px;
      right: 8px;
    }
  
    .paseos__card__top-icons {
      justify-content: space-around;
    }
  
    .paseos__card__top-icons div {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  
    .paseos__card__top-icons span {
      width: min-content;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.85);
    }
  
    .paseos__card-icon {
      height: 16px;
      filter: opacity(0.85);
    }
  
    .paseos__card-bottom-bar {
      padding: 0 8px;
    }
  
    .paseos__card-name {
      font-weight: 500;
      font-size: 14px;
    }
  }
  