* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #5038A6;
    --secondaryColor: #05FF0B;
    --tertiary: #45407B;
    --quaternary: #FAFFF8;
    --colorTextPrimary: #ffffff;
    --fontPrimary: 'Montserrat', sans-serif;
    --fontSecondary:
        /*definir*/
    ;
    --opcional_color: #010101;
    --lineHeightBase: 1.5;
    --fontSizeBase: 1.5rem;
    /*Definir el resto segun necesidades, valores debajo solo sonreferenciales*/
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
}

.background_footer {
    background-color: var(--opcional_color);
    width: 100%;
    height: auto;
}

.container_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--colorTextPrimary);
    gap: 20px;

}

img {
    width: 50%;
    margin-bottom: -15px;
    margin-top: 30px;
    
}

hr {
    width:350px;
    border: solid 2px var(--secondaryColor);
}

.title_footer {
    font-family: var(--fontPrimary);
    margin-bottom: 10px;
}

.paragraph_footer {
    font-family: var(--fontPrimary);
}
.paragraph{
    margin-bottom: 20px;
}

a i {
color: var(--secondaryColor);
padding: 10px;
font-size: 24px;
}

h2{
    text-align: center;
    margin: 10px 0;
    font-family: var(--fontPrimary);
}
form{
    background: var(--opcional_color);
    width: 90%;
    padding: 10px 0;
    /* border-radius: 10px;
    box-shadow: 0 0 6px 0 var(--secondaryColor); */
    font-family: var(--fontPrimary);
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--secondaryColor);
    resize: none;
    font-family: var(--fontPrimary);
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}
input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}
label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: var(--primaryColor);
    transition: 0.3s ease all;
    left: 0%;
}

button{
    background: var(--primaryColor);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--opcional_color), var(--secondaryColor));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--opcional_color), var(--secondaryColor));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}