:root{
    /*--main-color: black;*/
    --verde-logo: rgba(5, 255, 11, 1);
    --violeta-base: rgba(69, 64, 123, 1);
    --violeta-claro: rgba(80, 56, 166, 1);
    --blanco-letra: rgba(255, 255, 255, 1);
    /* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor .top{
    width: 100%;
    border-bottom: solid 1px white ;
}
.contenedor .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor .top div{
    display: flex;
}
.contenedor .top div p{
   padding: 10px 20px;
}
.contenedor .top .contacto {
    border-left: solid 1px white ;
}
.contenedor .top .contacto p{
    border-left: solid 1px white ;
}
.contenedor .top .idiomasRedes .redes p{
    border-left: solid 1px white ;

}
.contenedor nav{
    background-color: rgba(69, 64, 123, 0.8);
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    color: var(--blanco-letra);
}
.contenedor .principal{
    top: 40px;
    display: grid;
    grid-template-areas:
    "logo menu menu menu tour";
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.logo img{
    width: 70px;
}
.contenedor nav .logo{
    grid-area: logo;
    font-weight: 900;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor nav .tour{
    grid-area: tour;
    display: flex;
    justify-content: center;
}
.contenedor nav .tour a{
    background-color: var(--verde-logo);
    padding: 7px 10px;
    border-radius: 7px;
    
}
.contenedor nav .menu{
    grid-area: menu;
}
.contenedor nav .menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}
.contenedor nav .menu ul li{
    padding: 5px;
    /* font-size: 1.em; */
    justify-items: end;
}
.contenedor nav .menu ul li a{
    cursor: pointer;
    padding: 20px;
    margin: 5px;
}
a:link {
    text-decoration: none;
    color: var(--blanco-letra);
}
.contenedor nav .menu ul li a:hover{
    background-color: var(--violeta-claro);
}
a:visited{
    text-decoration: none;
    color: var(--blanco-letra);
}

main div{
    height: 1500px;
}
nav.borrar{
    display: none;
    background-color: black;
}
nav.cambiar{
    top:0;
    background-color: black;
}
