* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primaryColor: #5038a6;
    --secondaryColor: #05FF0B;
    --tertiary: #45407b;
    --quaternary: #FAFFF8;
    --colorTextPrimary: #ffffff;
    --fontPrimary: 'Montserrat', sans-serif;
    --fontSecondary:
        /*definir*/
    ;
    --fontSizeBase: 16px;
    --lineHeightBase: 1.5;

    /*Definir el resto segun necesidades, valores debajo solo sonreferenciales*/
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    
}
.menu ul li a{
    /* hace que no se rompa el menu */
    white-space: nowrap;
}
.contenedor .tour{
    margin-right: 1.5rem;
}
.contenedor .logo {
    margin-left: 0.5rem;
}

.contenedor header .top1{
    
    border-bottom: solid 1px white ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor header .top1 div{
    display: flex;
}
.contenedor header .top1 div p{
   padding: 10px 20px;
}
.contenedor header .top1 .idioma p{
    padding: 10px 15px 10px 0px;
}

.contenedor header .top1 .contacto p{
    border-left: solid 1px white ;
}
.contenedor header .top1 .idiomasRedes .redes p{
    border-left: solid 1px white ;
}

.contenedor nav{
    background-color: var(--tertiary);
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    color: var(--colorTextPrimary);
    /* transition: 1.7s; */
    visibility: visible;
}
.contenedor .principal{
    top: 40px;
    display: flex;
    justify-content: space-between;

    font-family: var(--fontPrimary);
    font-weight: 400;
    /* Aca esta la lentitud de la transision pase 0.7 a 1.2 */
    transition: 1.2s; 
}

.logo img{
    max-width: 4rem;
}
.contenedor nav .logo{
    
    font-weight: 900;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor nav .tour{
  
    display: flex;
    justify-content: center;
}
.contenedor nav .tour a{
    background-color: var(--secondaryColor);
    padding: 7px 10px;
    border-radius: 7px;
    
}

.contenedor nav .menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
.contenedor nav .menu ul li{
    padding: 5px;
    justify-items: end;
}
.contenedor nav .menu ul li a{
    cursor: pointer;
    padding: 20px;
    margin: 5px;
}
a:link {
    text-decoration: none;
    color: var(--colorTextPrimary);
}
.contenedor nav .menu ul li a:hover{
    background-color: var(--primaryColor);
}
a:visited{
    text-decoration: none;
    color: var(--colorTextPrimary);
}

main div{
    height: 1500px;
}
.abrir-menu{
    display: none;
}
.cerrar-menu{
    display: none;
}
.menu-hamburguesa{
    display: none;
}
/* medias querys para mobile */
@media screen and (max-width: 750px){
    .principal .tour{
        display: none;
    }
    .principal .tour a{
        display: none;
    }
    .menu{
        display: none;
    }

    .abrir-menu{
        display: block;
    }

    .menu-hamburguesa{
        display: none;
        padding: 1rem;
    }
    .menu-hamburguesa ul{
        height: 90vh;
        list-style: none;
    }
    .menu-hamburguesa ul li{
        padding: 1rem;
        font-size: 2rem;
    }
    .cerrar-menu{
        background-color: #45407b;
        border: none;
        color: white;
        margin-left: auto ;
    }

    .abrir-menu{
        background-color: #45407b;
        border: none;
        color: white;
        margin-left: auto ;
    }

    .activar{
        display:block;
    }
    .desactivar{
        display: none;
    }
}

