* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --primaryColor: #5038A6;
    --secondaryColor: #05FF0B;
    --tertiary: #45407B;
    --quaternary: #FAFFF8;
    --colorTextPrimary: #ffffff;
    --fontPrimary: 'Montserrat', sans-serif;
    --fontSecondary:
        /*definir*/;
    --opcional_color: #010101;
    --lineHeightBase: 1.5;
    --fontSizeBase:  1.5rem;
    /*Definir el resto segun necesidades, valores debajo solo sonreferenciales*/
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
}

/*MENSAJE MOTIVACIONAL, eliminar luego*/

hero_titulo {
  font-family: var(--fontPrimary);
  font-weight: 900;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondaryColor);
}

#paseos {
  background-color: var(--primaryColor);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
}

#paseos__title {
  margin-top: 80px;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 56px;
  color: #ffffff;
}

#paseos__title span {
  color: var(--secondaryColor);
}

#paseos__text {
  color: #fff;
  font-size: 26px;
}

#paseos__text span {
  color: var(--secondaryColor);
}

#paseos__cards-container {
  width: 100%;
  margin-top: 106px;
  margin-bottom: 106px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.paseos__card {
  min-width: 290px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 350px;
}

.paseos__card-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.paseos__card__top-icons {
  display: flex;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  height: 64px;
}

.paseos__card__top-icons div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paseos__card-bottom-bar {
  background: #000;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.paseos__card-name {
  font-weight: 500;
}

.paseos__card-button {
  background: var(--secondaryColor);
  padding: 8px 16px;
  border-radius: 40px;
  color: var(--primaryColor);
  font-weight: 600;
  position: absolute;
  right: 16px;
  text-decoration: none;
}

/* --------- Inicio Mobile First ---------*/

.background_hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/background_hero/movilBackground.png');
    display: flex;
    justify-content: center;
}


.content {
    position: absolute;
    display: inline-block;
    padding: 40px;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
    font-family: var(--fontPrimary);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    gap: 100px;
    top: 210px;
    
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image_logo {
    width: 95%;
    margin: 0 auto;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}


hr {
    width:40px;
    border: solid 2px var(--secondaryColor);
 

}

.hero_titulo{
    text-align: center;
  
    color: var(--quaternary);
    font-size: clamp(1.5rem, 2.9vw, 2rem);
}

.button_container {
    text-align: center;
}


.button {
    font-size: var(--fontSizeBase);
    display: inline-block;
    padding: 0.5em 1.2em;
    background-color: var(--primaryColor);
    color: var(--colorTextPrimary);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-weight: bold;
}

.button:hover {
    background-color: var(--secondaryColor);
    color: var(--opcional_color);
}

/* --------- Fin Mobile First ---------*/



/* --------- Inicio min-width:768px ---------*/

@media screen and (min-width:768px) {
    .background_hero {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        background-image: url('./assets/background_hero/desktopBackground.jpg');
        display: flex;
        justify-content: center;
    }
    
    
    .content {
        position: absolute;
        display: inline-block;
        padding: 40px;
        color: white;
        overflow: hidden;
        word-wrap: break-word;
        font-family: var(--fontPrimary);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: space-around;
        gap: 40px;
        top: 210px;
        
    }
    
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .image_logo {
        width: 95%;
        margin: 0 auto;
        font-size: clamp(1.5rem, 3vw, 2.5rem);
    }
    
    
  
    
    .hero_titulo{
        text-align: center;
      
        color: var(--quaternary);
        font-size: clamp(1.5rem, 2.9vw, 2rem);
    }
    
    .button_container {
        text-align: center;
    }
    
    
    .button {
        font-size: var(--fontSizeBase);
        display: inline-block;
        padding: 0.5em 1.2em;
        background-color: var(--primaryColor);
        color: var(--colorTextPrimary);
        border-radius: 40px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        font-weight: bold;
    }
    
    .button:hover {
        background-color: var(--secondaryColor);
        color: var(--opcional_color);
    }
}